config.py
__pycache__/
wp_vulners_testing.py
data_structure.json
data_structure_design.json
report_data.json
sample_output_obj_pretty.json
sample_output_obj.json
sample_output_plugin_obj.json
sample_output_plugin_str.txt
sample_output_str.txt
sample_output_theme_obj.json
sample_output_theme_str.txt
sample_object.json
sample_report_output.md
finalreport.md
reports/
